/* COLORS */
$c-baby-pink: #fff0f0;
$c-lavender-blue: #eaeef7;
$c-light-gray: #e0e0e0;
$c-light-purple: #543c9740;
$c-charleston-green: #201f1f;
$c-alice-blue: #fbfbff;
$c-dark-purple: #141333;
$c-midnight-blue: #202261;
$c-purple: #543c97;
$c-indigo: #6939a2;
